{% extends "list.html" %}


{% block column %}
    <tr>
        <th></th>
        <th>Ci</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <!--<th>No. Expediente</th>-->
    </tr>
{% endblock column %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>
                <button class="btn btn-sm btn-primary btn-xs" type="button">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-sm btn-danger btn-xs" type="button">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
            <td>{{ c.carnet }}</td>
            <td>{{ c.nombre }} {{ c.apellido }}</td>
            <td>{{ c.telefono }}</td>
            <td>{{ c.direccion }}. {{ c.municipio }}</td>
        </tr>
    {% endfor %}
{% endblock rows %}

