{% extends "body.html" %}

{% block contenido %}
    <div class="app-content-header">
        <div class="app-container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 calss="mb-0">{{ title }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <!--FORMULARIO A LA ESPERA DEL MODAL-->
                    <form method="post" action=".">
                        <div class="card card-default">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <!--encabezado del card e icono-->
                                    <i class="bi bi-plus"></i>
                                    {{ title }}
                                </h4>
                            </div>
                            <div class="card-body"> 
                                <div class="card-body">
                                    {% csrf_token %} 
                                    {{form.as_p}}
                                    <br>
                                        <div class="modal-footer">
                                            <button class="btn btn-outline-primary" type="submit">
                                                <i class="bi bi-floppy2-fill"></i> Guardar
                                            </button>
                                            <button class="btn btn-outline-danger" type="button" data-bs-dismiss="modal">
                                                <i class="bi bi-x-square-fill"></i> Cancelar
                                            </button>
                                        </div>                
                                </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>

{% endblock %}
