{% load static %}
      <!--begin::Header-->
      <nav class="app-header navbar navbar-expand bg-body">
        <!--begin::Container-->
        <div class="container-fluid">
          <!--begin::Start Navbar Links-->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                data-lte-toggle="sidebar"
                href="#"
                role="button"
              >
                <i class="bi bi-list"></i>
              </a>
            </li>
            <ol class="breadcrumb">
              <li class="nav-item d-none d-md-block">
                <a href="{{ home }}"  class="nav-link">{{ name }}</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a href="{{ list_url }}" class="nav-link">{{ entity }}</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a href="{{ list_url2 }}" class="nav-link">{{ entity2 }}</a>
              </li>
            </ol>
          </ul>
          <!--end::Start Navbar Links-->
          <!--begin::End Navbar Links-->
          <ul class="navbar-nav ms-auto">
            <!--begin::Notifications Dropdown Menu-->
            {% if is_admin or is_director %}
            <li class="nav-item dropdown position-relative">
              <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" title="Expedientes en Investigación">
                <span class="position-relative d-inline-block">
                  <i class="bi bi-bell"></i>
                  {% if exp_investigacion > 0 %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.7rem;">
                    {{ exp_investigacion }}
                    <span class="visually-hidden">expedientes en investigación</span>
                  </span>
                  {% endif %}
                </span>
              </a>
            </li>
            {% endif %}
            {% if is_admin or is_tecnico %}
            <li class="nav-item dropdown position-relative">
              <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" title="Expedientes a Corregir">
                <span class="position-relative d-inline-block">
                  <i class="bi bi-bell-fill"></i>
                  {% if exp_corregir > 0 %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning" style="font-size: 0.7rem;">
                    {{ exp_corregir }}
                    <span class="visually-hidden">expedientes a corregir</span>
                  </span>
                  {% endif %}
                </span>
              </a>
            </li>
            {% endif %}
            <!--begin::Fullscreen Toggle-->
            <li class="nav-item">
              <a class="nav-link" href="#" data-lte-toggle="fullscreen">
                <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i>
                <i
                  data-lte-icon="minimize"
                  class="bi bi-fullscreen-exit"
                  style="display: none"
                ></i>
              </a>
            </li>
            <!--end::Fullscreen Toggle-->
            <!--begin::User Menu Dropdown-->
            <li class="nav-item dropdown user-menu">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
              >
                <img
                  src="{% static 'img/user2.png' %}"
                  class="user-image rounded-circle shadow"
                  alt="User Image"
                /><!--LLAMAR AL NOMBRE DEL USUARIO-->
                <span class="d-none d-md-inline">{{ request.user.username }}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                <!--begin::User Image-->
                <li class="user-header text-bg-primary">
                  <img
                    src="{% static 'img/user2.png' %}"
                    class="rounded-circle shadow"
                    alt="User Image"
                  />
                  <p><!--LLAMAR AL NOMBRE DEL USUARIO Y SU EMAIL-->
                    {{ request.user.username }}
                  </p>
                  <small>{{ request.user.email }}</small>
                </li>
                <!--end::User Image-->
                <!--begin::Menu Body
                <li class="user-body">
                  
                </li>-->
                <!--end::Menu Body-->
                <!--begin::Menu Footer-->
                <li class="user-footer">
                  <a href="{% url 'logout' %}" class="btn btn-default btn-flat float-end"
                    >Sign out</a
                  >
                </li>
                <!--end::Menu Footer-->
              </ul>
            </li>
            <!--end::User Menu Dropdown-->
          </ul>
          <!--end::End Navbar Links-->
        </div>
        <!--end::Container-->
      </nav>
      <!--end::Header-->