{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html;charset= utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="title" content="AdminLTE 4 | Fixed Sidebar" />

    <!--begin::Fonts-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css"
    />
    <!--end::Fonts-->

    <!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link
      rel="stylesheet"
      href="{% static 'lib/adminlte-4.0.0/plugins/OverlayScrollbars.min.css' %}"
    />
    <!--end::Third Party Plugin(OverlayScrollbars)-->

    <!--begin::Third Party Plugin(Bootstrap Icons)-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!--end::Third Party Plugin(Bootstrap Icons)-->

    <!--begin::Required Plugin(AdminLTE)-->
    <link
      rel="stylesheet"
      href="{% static 'lib/adminlte-4.0.0/css/adminlte.min.css' %}"
    />
    <!--end::Required Plugin(AdminLTE)-->
  </head>
  <body>
    <!--begin::Script-->
    <!--begin::Third Party Plugin(OverlayScrollbars)-->
    <script src="{% static 'lib/adminlte-4.0.0/plugins/overlayscrollbars.browser.es6.min.js' %}"></script>
    <!--end::Third Party Plugin(OverlayScrollbars)-->

    <!--begin::Required Plugin(popperjs for Bootstrap 5)-->
    <script src="{% static 'lib/adminlte-4.0.0/plugins/popper.min.js' %}"></script>
    <!--end::Required Plugin(popperjs for Bootstrap 5)-->

    <!--begin::Required Plugin(Bootstrap 5)-->
    <script src="{% static 'lib/bootstrap-5.3.3-dist/js/bootstrap.min.js' %}"></script>
    <!--end::Required Plugin(Bootstrap 5)-->

    <!--begin::Required Plugin(AdminLTE)-->
    <script src="{% static 'lib/adminlte-4.0.0/js/adminlte.js' %}"></script>
    <!--end::Required Plugin(AdminLTE)-->
    <!--end::Script-->
  </body>
</html>
