{% extends "body.html" %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"
/>
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock head %} {% block contenido %}
<div class="app-content-header">
  <div class="app-container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 calss="mb-0">{{ title }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button
        class="btn btn-outline-primary mb-3 btnNuevoCliente"
        type="button"
        id="btnNuevoCl"
      >
        <i class="fas fa-plus"> </i> Nuevo
      </button>
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title">
            <i class="fas fa-search"></i>
            {{ title }}
          </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-hover display nowrap"
              style="width: 100%"
              id="tblClientes"
            >
              <thead class="table-light">
                {% block column %} {% endblock column %}
              </thead>
              <tbody>
                {% block rows %} {% endblock rows %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %} {% block javascript %}
  <script type="application/javascript">
    $(function(){
        $('#tblClientes').DataTable({
            responsive: true,
            autoWidth: false
        });

        $('.btnNuevoCliente').on('click', function (){
            $.ajax({
                url: '{% url 'gestion:clientes' %}',
                type: 'POST',
                data: {id_cliente: 1},
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus+': '+errorThrown);
            }).always(function (data) {

            });
        });
    });
  </script>
  {% endblock %}
</div>
