{% extends "body.html" %} 
{% load static %} 

{% block head %}
  <link
    rel="stylesheet"
    href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"
  />
  <link
    rel="stylesheet"
    href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"
  />
  <script>
    var userHasDeletePermission = {{ perms.gestion.delete_user|yesno:"true,false" }};
    var userHasEditPermission = {{ perms.gestion.change_user|yesno:"true,false" }};
  </script>
  <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    
  {% block head_list %}

  {% endblock %}


{% endblock head %} 


{% block contenido %}
  <div class="app-content-header">
    <div class="app-container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2 calss="mb-0">{{ title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        {% if perms.user.add_user %}
        {% block buttons_list %}
          <a href="{{ create_url }}" 
            class="btn btn-outline-primary mb-3 btnNuevoUser" type="button" id="btnNuevoUser">
            <i class="fas fa-plus"> </i> Nuevo
          </a>
        {% endblock %}
        {% endif %}
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title">
              <i class="fas fa-search"></i>
              {{ title }}
            </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-hover display nowrap"
                style="width: 100%"
                id="tblUser"
              >
                <thead class="table-light">
                  {% block column %} 
                  
                  {% endblock column %}
                </thead>
                <tbody>
                  {% block rows %} 
                  
                  {% endblock rows %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 


{% block javascript %}
  <script type="application/javascript">
    $(function(){
        $('#tblUser').DataTable({
            responsive: true,
            autoWidth: false
        });

        $('.btnNuevoUser').on('click', function (){
            $.ajax({
                url: '{% url 'user:user_list' %}',
                type: 'POST',
                data: {id: 1},
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus+': '+errorThrown);
            }).always(function (data) {

            });
        }); 
    });
  </script>
  {% endblock %}

