{% extends 'form_exp.html' %} 
{% block campos_extra %}
<!-- Página 2 (campos_extra) -->
<div class="form-page" id="page2" style="display:none;">
   <div class="row">
      <div class="col-md-12">
            <div class="form-group">
               <!-- Resumen-->
               <label for="resumen">{{ form.resumen.label }}</label>
               {{ form.resumen }}
            </div>
      </div>
   </div>
   <!--Archivos-->
      <div class="col-md-12">
         <div class="form-group">
            <label for="archivos">{{ form.archivos.label }}</label>
            {{ form.archivos }}
         </div>
      </div>
   <div class="row mt-4">
      <div class="col-md-12">
         <p>Respuestas a Clientes</p>
         <table 
            class="table table-sm table-bordered"
            style="width: 100%;  border-radius: 5px; overflow: hidden;"
            id="tblRespuestasClientes"
            >
            <thead class="table-primary">
               <tr>
                  <th class="text-light">Acciones</th>
                  <th class="text-light">Destinatario</th>
               </tr>
            </thead>
            <tbody>
               {% for cliente in expediente.clientes.all %}
               {% with respuesta=cliente.respuestas.first %}
                  <tr>
                     <td class="text-center">
                        <div class="text-center">
                           <a href="#" 
                              class="btn btn-sm btn-info btn-xs btnNuevaRespuesta"
                                 {% if cliente %}
                                 data-expediente-id="{{ expediente_id }}"
                                 data-cliente-id="{{ cliente.id }}"
                                 {% endif %}
                              >
                              <i class="fas fa-plus" style="color: white;"></i>
                           </a>
                           <a href="#" 
                              class="btn btn-sm btn-primary btn-xs"
                                 {% if respuesta %}
                                 data-respuesta-id="{{ respuesta.id }}"
                                 {% endif %}>
                              <i class="fas fa-edit"></i>
                           </a>
                           <a href="#" 
                              class="btn btn-success btn-sm"
                                 {% if respuesta %}
                                 data-respuesta-id="{{ respuesta.id }}"
                                 {% endif %}> 
                              <i class="fas fa-print" style="color: white;"></i>
                           </a>
                        </div>
                     </td>
                     <td class="text-center">
                        Respuesta a {{ cliente.nombre }} {{ cliente.apellido }}
                        {% if respuesta %}
                           <span class="badge bg-success">Existente</span>
                        {% else %}
                           <span class="badge bg-warning">Pendiente</span>
                        {% endif %}
                     </td>
                  </tr>
               {% endwith %}
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
<!-- Navegación -->
<div class="navigation-buttons mt-3">
   <button type="button" class="btn btn-secondary" id="prevBtn">Anterior</button>
   <button type="button" class="btn btn-primary" id="nextBtn">Siguiente</button>
</div>
{% endblock %}

{% block javascript %}
<div class="modal fade" id="myModalRespuesta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="post" id="formularioresp">
      {% csrf_token %}
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-5" id="modalRespuestaTitle"><i class="fas fa-search"></i><span></span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <input name="action" type="hidden" value="add">
                <input name="id" id="id_respuesta" type="hidden" value="0">
                <input name="expediente_id" id="expediente_id" type="hidden" value="{{ expediente.id }}">
                {% if cliente %}
                    <input name="cliente_id" id="cliente_id" type="hidden" value="{{ cliente.id }}">
                {% endif %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="">{{ field.label }}: </label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </form>
</div>

<script type="application/javascript">
    

{% endblock %}  

