{% extends "list_expediente.html" %} 
{% load widget_tweaks %}

{% load static %} 

{% block head_list %}
  <script>
      // Obtener si el usuario tiene el permiso (Django template)
      var userHasEditPermission = {{ perms.gestion.change_expediente|yesno:"true,false" }};
  </script>
  <script src="{% static 'expediente/js/list.js' %}"></script>
{% endblock %}

{% block column %}
    <tr>
        <th></th>
        <th>No</th>
        <th>Nombre</th>
        <th>Clasificación</th>
        <th>Reclamación</th>
        <th>Estado</th>
        <th>Fecha R.</th>
        <th>Fecha de E.</th>
        <th>Usuario</th>
    </tr>
{% endblock column %}

{% block rows %}

{% endblock rows %}

{% block buttons_list %}
  <a href="{{ create_url }}" class="btn btn-outline-primary mb-3" type="button" id="btnNuevoExpediente">
    <i class="fas fa-plus"> </i> Nuevo Expediente
  </a>
{% endblock %}

{% block javascript %}
<script type="application/javascript">
  $(function(){

    getData();

    $('#btnNuevoExpediente').on('click', function (){
        $.ajax({
            url: '{% url 'gestion:clientes' %}',
            type: 'POST',
            data: {id_cliente: 1},
            dataType: 'json'
        }).done(function (data) {
            console.log(data);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(textStatus+': '+errorThrown);
        }).always(function (data) {

        });
    });
  });
</script>
{% endblock %} 