{% extends "list_expediente.html" %} 
{% load static %} 

{% block head_list %}
    <script src="{% static 'expediente/js/list.js' %}"></script>
{% endblock %}

{% block column %}
    <tr>
        <th></th>
        <th>No</th>
        <th>Nombre</th>
        <th>Clasificación</th>
        <th>Fecha R.</th>
        <th>Fecha de E.</th>
        <th>Estado</th>
    </tr>
{% endblock column %}

{% block rows %}

{% endblock rows %}

{% block buttons_list %}
  <a class="btn btn-outline-primary mb-3 btnNuevoExpediente" type="button">
    <i class="fas fa-plus"> </i> Nuevo Expediente
  </a>
{% endblock %}

{% block javascript %}

{% endblock %} 