.text-light{
    width: 20%;
    color: rgba(26, 24, 24, 0.89) !important;
    text-align: center;
    font-size: small;

}
#tblRespuestasClientes th, 
#tblRespuestasClientes td {
    border: 1px solid #dee2e6 !important;
}